$website-purple: #51267E;
$website-green: #316735;
$website-white: #FFFDFF;

$transparent: #00000080;

// ***** Filtering by ChatGPT *****

$hover-white-to-green: brightness(0) saturate(100%) invert(27%) sepia(63%) saturate(590%) hue-rotate(90deg) brightness(90%) contrast(95%);

// ********************************

$mobile-padding: 20px;

@mixin flex-direction($dir, $jstfy, $algn, $gp) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jstfy;
    align-items: $algn;
    gap: $gp;
}

@mixin grid-template-columns($clmns, $gp) {
    display: grid;
    grid-template-columns: $clmns;
    gap: $gp;
}

html {
    background-color: $website-purple;
}

body {
    background-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 0px) {
    .mobile-layout {
        display: block;
    }

    .non-mobile-layout {
        display: none;
    }

    // ***** HEADER ******
    header {
        @include grid-template-columns(repeat(3, 1fr), 0);
        background-color: $website-purple;
        color: $website-white;
        padding: $mobile-padding;
        position: sticky;
        top: 0;

        .tp_websiteTitle {
            @include flex-direction(row, space-between, center, 15px);

            img {
                width: 60px;
                height: auto;
            }

            div {
                text-align: center;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .tp_userTools {
            @include flex-direction(unset, flex-end, center, 0);

            img {
                width: 32px;
                height: 32px;
                transition: filter 0.3s ease;

                &:hover {
                    cursor: pointer;
                    filter: $hover-white-to-green;
                }
            }
        }
    }
    // ******************

    // ***** CONTENT *****
    main {

        .tp_imageSection {
            width: 100%;
            height: 325px;
            background-size: 100% 100%;
            text-align: center;

            div {
                width: inherit;
                height: 100%;
                background-color: $transparent;
                padding: 20px;
                color: $website-white;
                @include flex-direction(column, center, center, 5px);

                button {
                    appearance: none;
                    margin-top: 15px;
                    background-color: $website-green;
                    border-radius: 20px;
                    border: none;
                    color: $website-white;
                    padding: 12px 30px;
                    box-shadow: 0 0 3px black, 0 0 3px black;

                    &:hover {
                        cursor: pointer;
                        filter: brightness(110%);
                    }
                }
            }
        }
    }
    // ******************

    // ***** FOOTER *****
    footer {
        background-color: $website-purple;
        color: $website-white;
        padding: $mobile-padding;

        .tp_footerLinks {
            @include grid-template-columns(repeat(2, 1fr), 50px);

            .tp_section {

                hr {
                    height: 5px;
                    background-color: $website-white;
                    border: none;
                    width: 30px;
                    margin-top: 5px;
                }

                p:nth-of-type(1) {
                    margin-top: 15px;
                }

                p {
                    margin-top: 4px;
                }

                .link {
                    transition: all 0.3s ease;

                    &:hover {
                        cursor: pointer;
                        color: $website-green;
                        text-decoration: underline;
                    }
                }
            }

            .tp_section:nth-last-of-type(1) {

                .tp_socialIcons {
                    @include flex-direction(row, unset, center, 10px);
                    margin-top: 10px;

                    div {
                        width: 30px;
                        height: 30px;
                        border: thin solid $website-white;
                        border-radius: 50%;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        
        .tp_footerCopyright {
            border-top: thin solid $website-white;
            margin: 0 -20px;
            margin-top: 20px;
            padding: 0 20px;
            font-size: 12px;

            p {
                margin-top: 20px;
            }
        }
    }
}