$website-purple: #51267E;
$website-green: #316735;
$website-white: #FFFDFF;

// ***** Filtering by ChatGPT *****

$hover-white-to-green: brightness(0) saturate(100%) invert(27%) sepia(63%) saturate(590%) hue-rotate(90deg) brightness(90%) contrast(95%);

// ********************************

$mobile-padding: 20px;

@mixin flex-direction($dir, $jstfy, $algn, $gp) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jstfy;
    align-items: $algn;
    gap: $gp;
}

@mixin grid-template-columns($clmns, $gp) {
    display: grid;
    grid-template-columns: $clmns;
    gap: $gp;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 0px) {
    .mobile-layout {
        display: block;
    }

    .non-mobile-layout {
        display: none;
    }

    // ***** HEADER ******
    header {
        @include grid-template-columns(repeat(3, 1fr), 0);
        background-color: $website-purple;
        color: $website-white;
        padding: $mobile-padding;

        .website-title {
            @include flex-direction(row, space-between, center, 15px);

            img {
                width: 60px;
                height: auto;
            }

            div {
                text-align: center;
            }

            &:hover {
                cursor: pointer;
            }
        }

        .user-tools {
            @include flex-direction(unset, flex-end, center, 0);

            img {
                width: 32px;
                height: 32px;
                transition: filter 0.3s ease;

                &:hover {
                    cursor: pointer;
                    filter: $hover-white-to-green;
                }
            }
        }
    }

    // ***** HEADER *****

    #map {
        width: 100%;
        height: 600px;
        border: thin solid #ccc;
    }
}